/* Importação das Fontes pelo Google Fonts - Righteous, Sarala*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

/* Estilizando o body */
body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Estilizando o cabecalho */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-navegacao {
    display: flex;
    gap: 32px;
}

.cabecalho-navegacao-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}