/* Importação das Fontes pelo Google Fonts - Righteous, Sarala*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
}

/* Estilizando o body */
body {
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Estilizando o cabecalho */
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-navegacao {
    display: flex;
    gap: 32px;
}

.cabecalho-navegacao-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

/* Estilizando o conteúdo principal */
.principal {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

/* Primeira parte do conteúdo princial */
.principal-primario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-primario-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-primario-texto-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.principal-primario-texto-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.principal-primario-texto-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}

.principal-primario-imagem {
    height: 430px;
}

/* Segunda parte do conteúdo princial */
.principal-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

    /* Resposta do desafio */
    border-top: 0.4px solid #FFF2E7;
}

.principal-secundario-titulo {
    /* Excluir linha para realizar o desafio 
    border-top: 0.4px solid #FFF2E7; 
    */
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}

.principal-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}

/* Estilizando o rodape */
.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}